
html {
  font-family: 'Roboto', sans-serif;
}

body {
	background: #263238;
  font-size: 13px;
  line-height: 20px;
}

/*!
App bar
*/

/*
.wsAppBar {
	height: 48px;
}

.wsAppBar button {
	margin-top: 0 !important;
}
*/

/*!
Wizard nav (left drawer)
*/
